<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reservaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list no-border>
        <ion-item-sliding *ngFor="let item of reservations; let i = index">
          <ng-container *ngIf="item.nameClient != ''">
              <ion-item>
                <ion-label class="name">
                  {{item.nameClient}}
                </ion-label>
                <ion-note slot="end">Fecha de ingreso:</ion-note>
                <ion-note slot="end">{{item.date | date}}</ion-note>
              </ion-item>
          </ng-container>
        </ion-item-sliding>
        
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>